main {
  min-height: 80vh;
}
footer {
  background: #343a40;
  color: aliceblue;
}

h1 {
  font-size: 1.8rem;
  padding: 1rem 0;
}

h2 {
  font-size: 1.2rem;
  padding: 0.5rem 0;
}

.navBrand {
  color: #FF1E00;
}